<div class="container bg-light">
	<!-- Start Header form -->
	<div class="text-center pt-5">
		<!-- <img src="https://i.ibb.co/8cDgdFX/Logo.png" alt="network-logo" width="72" height="72" /> -->
		<h2>Administración de personal</h2>
		<p>
			<span href="#" class="btn btn-sm btn-outline-dark rounded-full" (click)="openModal(modalNew)">Crear Personal</span>

		</p>
	</div>
	<!-- End Header form -->

	<!-- Start Card -->
	<div class="card ">
		<div class="card-body ">
			<!-- Start Form -->
			<form id="bookingForm" action="#" method="" class="needs-validation" novalidate autocomplete="off">
				<table class="table table-sm table-borderless">
					<thead>
						<tr>
							<td scope="col">Código</td>
							<td scope="col">Users</td>
							<td scope="col">Fotografía</td>
							<td scope="col">Assignments</td>
							<td scope="col">Estado</td>							
							<td scope="col">Acciones</td>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let personal of personals;index as i" class="fw-light">
							<td> {{personal.code}}</td>
							<td> {{personal.name}}</td>
							<td>
								<div class=" d-flex justify-content-center  text-center align-items-center">
									<img [src]="personal.image?.base64" class="imgFotoSm" />
								</div>
							</td>
							<td>
								<a class="btn  p-1 btn-sm btn-outline-dark font-weight-light" (click)="openModal(modalAssignments,personal)"> Routes : {{personal.assignments?.length}}</a>
							</td>
							<td> {{personal.estado}}</td>
							<td>
								<span role="button" (click)="openModal(modalEdit,personal)" class="btn  p-1 btn-sm btn-outline-dark font-weight-light rounded-full"><i class="fas fa-pen d-block fa-xs"></i></span>
								<span role="button" (click)="openModal(modalDelete,personal)" class="btn  btn-sm btn-outline-dark font-weight-light"><i class="fas fa-trash d-block fa-xs"></i> </span>
								<span role="button" (click)="openModal(modalAssignments,personal)" class="btn  btn-sm btn-outline-dark font-weight-light"><i class="fas fa-road d-block fa-xs"></i> </span>
								<span role="button" (click)="openModal(modalQr,personal)" class="btn  btn-sm btn-outline-dark font-weight-light"><i class="fas fa-qrcode d-block fa-xs"></i> </span>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>

	<ng-template #modalAssignments role="document" let-modal class="center-modal">
		<form >
			<div class="modal-header">
				<h4 class="modal-title pull-left">Assignments de Route</h4>
				<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
					<span aria-hidden="true" class="visually-hidden">&times;</span>
				</button>
			</div>
			<div class="modal-body content ">
				<div class="divRoutes row d-flex ">
					<a role="button" class=" card col-3 list-group-item lh-tight " *ngFor="let route of routes;index as i">
						<label class="form-check-label" for="check-{{i}}">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" [ngModelOptions]="{standalone: true}" [(ngModel)]="Assignments[i].is_check"  id="check-{{i}}">

							</div>
							<div class="d-flex  align-items-center justify-content-between">
								<strong class="mb-1">{{route.nombre}}</strong>
								<small>Recorrido: {{route.distancia}} metros</small>
							</div>
							<div class="col-10 mb-1 small">

								<div class="border">
									<img [src]="route.image?.base64" style="width:100%" />
								</div>
							</div>
						</label>
					</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-sm btn-outline-success rounded-full " (click)="saveAssignments()">Guardar</button>
				<button type="button" class="btn btn-sm rounded-full font-weight-light " (click)="closeModal()">Cancelar</button>
			</div>
		</form>
	</ng-template>

	<ng-template #modalNew role="document" let-modal class="center-modal">
		<form #userForm="ngForm" (ngSubmit)="save(userForm)">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Nuevo Personal</h4>
				<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
					<span aria-hidden="true" class="visually-hidden">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group mb-1">
					<label class="fw-light" for="codigo">Código</label>
					<input class="form-control" id="codigo" [(ngModel)]="personal.code" name="codigo" type="text" required>
					<div *ngIf="userForm.controls['codigo']?.touched && userForm.controls['codigo']?.invalid" class="lh-sm text-sm-end fw-lighter font-weight-light text-danger">
						<p class="font-weight-light text-danger">el código es requerido</p>
					</div>

					<label class="fw-light" for="nombre">Nombre de user</label>
					<input class="form-control" id="nombre" [(ngModel)]="personal.name" name="nombre" type="text" required>
					<div *ngIf="userForm.controls['nombre']?.touched && userForm.controls['nombre']?.invalid" class="lh-sm text-sm-end fw-lighter font-weight-light text-danger">
						<p class="font-weight-light text-danger">el nombre es requerido</p>
					</div>

					<label class="fw-light" for="foto">Fotografía</label>
					<div class=" d-flex justify-content-center  text-center align-items-center">
						<img [src]="personal.image.base64" class="imgFoto" />
					</div>

					<input class="form-control" id="foto" [(ngModel)]="personal.image.base64" name="foto" type="text" hidden>
					<input class="form-control" id="fotoFile" [(ngModel)]="personal.image.base64" name="fotoFile" type="file" (change)="fileToBase64($event,newImage,'base64')">

					



				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-sm btn-outline-success rounded-full ">Guardar</button>
				<button type="button" class="btn btn-sm rounded-full font-weight-light " (click)="closeModal()">Cancelar</button>
			</div>
		</form>
	</ng-template>

	<ng-template #modalEdit role="document" let-modal class="center-modal">
		<form #userForm="ngForm" (ngSubmit)="edit(userForm)">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Modificar personal : {{personal.name}}</h4>
				<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
					<span aria-hidden="true" class="visually-hidden">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group mb-1">
					<label class="fw-light" for="codigo">Código</label>
					<input class="form-control" id="codigo" [(ngModel)]="personal.code" name="codigo" type="text" required>
					<div *ngIf="userForm.controls['codigo']?.touched && userForm.controls['codigo']?.invalid" class="lh-sm text-sm-end fw-lighter font-weight-light text-danger">
						<p class="font-weight-light text-danger">el código es requerido</p>
					</div>

					<label class="fw-light" for="nombre">Nombre de user</label>
					<input class="form-control" id="nombre" [(ngModel)]="personal.name" name="nombre" type="text" required>
					<div *ngIf="userForm.controls['nombre']?.touched && userForm.controls['nombre']?.invalid" class="lh-sm text-sm-end fw-lighter font-weight-light text-danger">
						<p class="font-weight-light text-danger">el nombre es requerido</p>
					</div>

					<label class="fw-light" for="foto">Fotografía</label>
					<div class=" d-flex justify-content-center  text-center align-items-center">
						<img [src]="personal.image?.base64" class="imgFoto" />
					</div>

					<input class="form-control" id="foto" [(ngModel)]="personal.image_id" name="foto" type="text" hidden>
					<input class="form-control" id="fotoFile" [(ngModel)]="personal.image_id" name="fotoFile" type="file" (change)="fileToBase64($event,newImage,'base64')">


				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-sm btn-outline-success rounded-full ">Guardar cambios</button>
				<button type="button" class="btn btn-sm rounded-full font-weight-light " (click)="closeModal()">Cancelar</button>
			</div>
		</form>
	</ng-template>


	<ng-template #modalDelete role="document" let-modal class="center-modal">
		<div class="modal-header">
			<h4 class="modal-title pull-left">Eliminar user: {{personal.name}}?</h4>
			<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
				<span aria-hidden="true" class="visually-hidden">&times;</span>
			</button>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-outline-success rounded-full " (click)="delete(personal)">Si</button>
			<button type="button" class="btn btn-sm rounded-full font-weight-light " (click)="closeModal()">No</button>
		</div>
	</ng-template>

	<ng-template #modalQr role="document" let-modal class="center-modal">
		<div class="modal-header">
			<h4 class="modal-title pull-left">QR de user</h4>
			<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
				<span aria-hidden="true" class="visually-hidden">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<qr-code value="{{personal.code}}" 
				size="300" 
				errorCorrectionLevel="M" />
		</div>
		<div class="modal-footer">
			
			<button type="button" class="btn btn-sm rounded-full font-weight-light " (click)="closeModal()">Cerrar</button>
		</div>
	</ng-template>