.form-control {
	outline: none;
	border: none;
	border-bottom: 1px solid #d9d9d9;
	border-radius: 0;
	padding: .375rem 0;
	font-size: 1.25em;
}

.form-control:focus {
	box-shadow: none;

	border-bottom: 1px solid #7f7f7f;
}

.center-modal {
	position: fixed;
	top: 10%;
	left: 18.5%;
	z-index: 1050;
	width: 80%;
	height: 80%;
	margin-left: -10%;
}

.fa-3xs {
	font-size: 8px
}

.fa-2xs {
	font-size: 10px
}

.fa-xs {
	font-size: 12px
}

.fa-sm {
	font-size: 14px
}

.fa-lg {
	font-size: 20px
}

.fa-xl {
	font-size: 24px
}

.fa-2xl {
	font-size: 32px
}

.imgFoto {
	width: 200px;
	min-height: 200px;

}

.imgFotoSm {
	width: 70px;
	min-height: 70px;
}

.modal-lg {
	width: 1308px;
}
.divRoutes{
	height:600px;
	overflow-y: scroll;
}
.divRouteSingle{

}
.modal-lg {
    max-width: 1200px;
}

.littleTable{
    text-wrap: nowrap;
    font-size: 10px;
}
.littleTable th{
    text-wrap: nowrap;
    text-align: right;
}
.littleTable td{
    text-wrap: nowrap;
    text-align: left;
}


#overlayMenuDevice{
    width:88%;
    position: absolute;
	z-index: 1;
	bottom: 50px;
	right: 50px;
    
    background-color:#ffffff88;
    border:0.25px solid #444;
    border-radius: 0 25px 25px 0 ;
    padding:5px;
    
    transition: 0.25s linear;
}
#overlayMenuDevice:hover{    

}