<div class="divMain">
    <!-- <app-panel-float-nav></app-panel-float-nav> -->
    <div class="divMid">        
		<div  id="overlayMenuLeft" style="z-index:9999">
            <div (click)="layerMap='osm'" role="button"  class="mt-3 btnBlock"><span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-map"></i> </span>OpenStreeth Map</div>
            <div (click)="layerMap='local_osm'" role="button"  class="mt-3 btnBlock"><span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-map"></i> </span>Local Osm</div>
            <div (click)="layerMap='local_bw'" role="button"  class="mt-3 btnBlock"><span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-map"></i> </span>Local Black/white</div>			
		</div>

		<div  id="overlayMenu" style="z-index:9999" *ngIf="selectedRoute">	
            <div role="button"  class="mt-3 btnBlock" (click)="selectedRoute.controls.showArea=!selectedRoute.controls.showArea">Show Area<span [style]="{'background-color':selectedRoute.controls.showArea?'#222288':'','color':selectedRoute.controls.showArea?'#fff':''}" class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-bezier-curve"></i> </span></div>
            <div role="button"  class="mt-3 btnBlock" (click)="selectedRoute.controls.showCells=!selectedRoute.controls.showCells">Show Cells<span [style]="{'background-color':selectedRoute.controls.showCells?'#222288':'','color':selectedRoute.controls.showCells?'#fff':''}" class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-bezier-curve"></i> </span></div>
            <div role="button"  class="mt-3 btnBlock" (click)="generateCell(selectedRoute)"> Generate Cells<span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-bezier-curve"></i> </span></div>
            <div role="button"  class="mt-3 btnBlock" (click)="generatePaths(selectedRoute)"> Generate Paths<span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-bezier-curve"></i> </span></div>
            <div role="button"  class="mt-3 btnBlock" (click)="generateAvg(selectedRoute)"> Smooth Avg Paths<span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-bezier-curve"></i> </span></div>
            <div role="button"  class="mt-3 btnBlock" (click)="generateSma(selectedRoute)"> Smooth Sma Paths<span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-bezier-curve"></i> </span></div>
            <div role="button"  class="mt-3 btnBlock" (click)="decimate(selectedRoute)"> Decimate Paths <span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-bezier-curve"></i> </span></div>
            <div role="button"  class="mt-3 btnBlock" (click)="selectedRoute.controls.showLinePaths=!selectedRoute.controls.showLinePaths">Show LinePaths<span [style]="{'background-color':selectedRoute.controls.showLinePaths?'#222288':'','color':selectedRoute.controls.showLinePaths?'#fff':''}" class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-bezier-curve"></i> </span></div>			
            <div role="button"  class="mt-3 btnBlock" (click)="selectedRoute.controls.showSmooth=!selectedRoute.controls.showSmooth">Show Smooth<span [style]="{'background-color':selectedRoute.controls.showSmooth?'#222288':'','color':selectedRoute.controls.showSmooth?'#fff':''}" class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-bezier-curve"></i> </span></div>			
		</div>
        
		<div  id="overlayMenu" style="z-index:9999; top:700px" *ngIf="selectedRoute">	
            <ng-content *ngFor="let section of selectedRoute.sections;index as i">
                <div role="button"  class="mt-3 btnBlock">  <strong>{{i}}</strong> </div>
                <div role="button"  class="mt-3 btnBlock">  CellPoints : <strong>{{section.splitPointsCoordCells?.length}}</strong> </div>
                <div role="button"  class="mt-3 btnBlock">  CellPoints : <strong>{{section.splitPointsCoordCells?.length}}</strong> </div>
                <div role="button"  class="mt-3 btnBlock">  CellPoints on path: <strong>{{section.cellPaths?.length}}</strong> </div>
                <div role="button"  class="mt-3 btnBlock">  Line Paths : <strong>{{section.linePaths?.length}}</strong> </div>
                <div role="button"  class="mt-3 btnBlock ms-3">   Points Total : <strong>{{sumPaths(section.linePaths)}}</strong> </div>
				<div role="button"  class="mt-3 btnBlock ms-3">   ReducedPoints Total : <strong>{{sumPaths(section.smoothPaths)}}</strong> </div>
            </ng-content>
        </div>
        <!-- <div style="height: 100%; overflow: hidden;"> -->
        <!-- <div style="height: 100%;width:1600px; overflow: hidden;"> -->
        <div style="height: 100%;width:1400px; overflow: hidden;">
             <!-- <aol-map #map width="100%" height="100%" (pointerMove)="dispatchCursor($event)" (olClick)="onClick($event)" (onkeypress)="keyPress($event)">      -->
            <aol-map #map [width]="mapWidth" [height]="mapHeight"  (pointerMove)="dispatchCursor($event)" (olClick)="onClick($event)" (onkeypress)="keyPress($event)">     
             <!-- <aol-map #map width="2000px" height="2000px" style="width:100%; height:100%;"   (pointerMove)="dispatchCursor($event)" (olClick)="onClick($event)" (onkeypress)="keyPress($event)">    -->
                <aol-interaction-default> </aol-interaction-default>
                <aol-interaction-draw *ngIf="mode == StatesEnum.ROUTE_CREATOR" type="LineString" (drawStart)="startDraw($event.feature)" (drawEnd)="endDraw($event.feature, $event)">
                </aol-interaction-draw>
                <aol-interaction-select [layers]="" (olSelect)="select($event)" [wrapX]="false"></aol-interaction-select>
                <aol-control-defaults></aol-control-defaults>
                <aol-view [zoom]="zoom">
                    <!-- <aol-coordinate [x]="1" [y]="46.292896" [srid]="'EPSG:4326'" (click)="selected($event)"></aol-coordinate> -->
                    <aol-coordinate [y]="-16.5319308" [x]="-68.0698635" [srid]="'EPSG:4326'"></aol-coordinate>
                </aol-view>

                <aol-layer-tile>
                    <aol-source-osm *ngIf="layerMap=='osm'" ></aol-source-osm> 
                    <aol-source-xyz *ngIf="layerMap=='local_bw'" url="http://172.20.50.67:6050/{z}/{x}/{y}.png" crossOrigin="anonymous">	</aol-source-xyz>
                    <aol-source-xyz *ngIf="layerMap=='local_osm'" url="http://172.20.50.67:6060/{z}/{x}/{y}.png" crossOrigin="anonymous">	</aol-source-xyz>
                </aol-layer-tile>

				<aol-layer-group>
                    <aol-layer-vector *ngIf="selectedRoute && selectedRoute.controls.show" >
                        <aol-source-vector>
                            <aol-source-vector>
                                <aol-feature *ngFor="let pc of selectedRoute.splitCoordsLine">
                                <aol-geometry-point>
                                    <aol-coordinate [x]="pc[0]" [y]="pc[1]" [srid]="'EPSG:4326'"></aol-coordinate>
                                </aol-geometry-point>
                                </aol-feature>
                            </aol-source-vector>
                            <aol-style>
                                <aol-style-circle [radius]="5">
                                <aol-style-stroke [color]="'#fff'"></aol-style-stroke>
                                <aol-style-fill [color]="'#33cc77ff'"></aol-style-fill>
                                </aol-style-circle>
                            </aol-style>
                        </aol-source-vector>
                    </aol-layer-vector>
                    

					<div *ngIf="selectedRoute">
                        
                        <aol-layer-vector  [zIndex]="750" *ngIf="selectedRoute.controls.show && selectedRoute.controls.showCells">    
                            <aol-source-vector>
                                <div *ngFor="let section of selectedRoute?.sections">
                                    <aol-feature *ngFor="let pc of section.splitCoordsCells">
                                    <aol-geometry-point >
                                        <aol-coordinate [x]="pc[0]" [y]="pc[1]" [srid]="'EPSG:4326'"></aol-coordinate>
                                    </aol-geometry-point>
                                    </aol-feature>
                                </div>
                            </aol-source-vector>
                        <aol-style>
                            <aol-style-circle [radius]="2">
                                <aol-style-stroke [color]="'#fff'"></aol-style-stroke>
                                <aol-style-fill [color]="'#33cc77ff'"></aol-style-fill>
                            </aol-style-circle>
                        </aol-style>                            
                        </aol-layer-vector >                        
                        <aol-layer-vector  #vectorSource [opacity]="0.5" *ngIf="selectedRoute.controls.show && selectedRoute.controls.showArea">
                            <aol-style>
                                <aol-style-stroke [color]="'#222222'" [width]="8"></aol-style-stroke>
                                <aol-style-fill [color]="'#2233aa88'" ></aol-style-fill>
                            </aol-style>
                            <aol-source-vector >
                                <aol-feature *ngFor="let section of selectedRoute?.sections">
                                    <aol-geometry-polygon>
                                        <aol-collection-coordinates [coordinates]="[section.coords]" [srid]="'EPSG:4326'">
                                        </aol-collection-coordinates>
                                    </aol-geometry-polygon>
                                </aol-feature>
                            </aol-source-vector>
                        </aol-layer-vector>
                        <aol-layer-vector  [zIndex]="750" *ngIf="selectedRoute.controls.show && selectedRoute.controls.showCells">    
                                <aol-source-vector >
                                    <div *ngFor="let section of selectedRoute?.sections">
                                        <aol-feature *ngFor="let pc of section.cellPaths">
                                        <!-- <aol-feature *ngFor="let pc of section.splitCoordsCells">-->
                                        <aol-geometry-point >
                                            <aol-coordinate [x]="pc[0]" [y]="pc[1]" [srid]="'EPSG:4326'"></aol-coordinate>
                                        </aol-geometry-point>
                                        </aol-feature>
                                    </div>
                                </aol-source-vector>
                            <aol-style>
                                <aol-style-circle [radius]="10">
                                    <aol-style-stroke [color]="'#fff'"></aol-style-stroke>
                                    <aol-style-fill [color]="'#9977ccff'"></aol-style-fill>
                                </aol-style-circle>
                            </aol-style>
                        </aol-layer-vector>
						<div *ngFor="let section of selectedRoute?.sections">
                            <aol-layer-vector *ngIf="section.linePaths && selectedRoute.controls.showLinePaths">
								<aol-source-vector>
									<aol-style>
										<aol-style-stroke [color]="'rgba(160, 77, 49)'" [width]="3"></aol-style-stroke>							
									</aol-style>
									<aol-feature *ngFor="let linepath of section.linePaths">
										<aol-geometry-linestring>
											<aol-collection-coordinates [coordinates]="linepath" [srid]="'EPSG:4326'">
											</aol-collection-coordinates>
										</aol-geometry-linestring>
									</aol-feature>
								</aol-source-vector>
							</aol-layer-vector>
                            <aol-layer-vector *ngIf="section.smoothPaths && selectedRoute.controls.showSmooth">
								<aol-source-vector>
									<aol-style>
										<aol-style-stroke [color]="'rgba(100, 177, 149)'" [width]="6"></aol-style-stroke>							
									</aol-style>
									<aol-feature *ngFor="let smoothPath of section.smoothPaths">
										<aol-geometry-linestring>
											<aol-collection-coordinates [coordinates]="smoothPath" [srid]="'EPSG:4326'">
											</aol-collection-coordinates>
										</aol-geometry-linestring>
									</aol-feature>
								</aol-source-vector>
							</aol-layer-vector>

							 <aol-layer-vector *ngIf=" selectedRoute.controls.show">
								<aol-source-vector>
									<aol-style>
										<aol-style-stroke [color]="'rgba(100, 0, 0)'" [width]="6"></aol-style-stroke>
							
									</aol-style>
									<aol-feature #selectedFeatureString>
										<aol-geometry-linestring>
											<aol-collection-coordinates [coordinates]="section.coords" [srid]="'EPSG:4326'">
											</aol-collection-coordinates>
										</aol-geometry-linestring>
									</aol-feature>
								</aol-source-vector>
							</aol-layer-vector>
                       
                            <aol-layer-vector *ngIf="selectedRoute.controls.show" >
                                <aol-source-vector>
                                    <aol-feature *ngFor="let pc of section.coords">
                                    <aol-geometry-point>
                                        <aol-coordinate [x]="pc[0]" [y]="pc[1]" [srid]="'EPSG:4326'"></aol-coordinate>
                                    </aol-geometry-point>
                                    </aol-feature>
                                </aol-source-vector>                            
                                <aol-style>
                                    <aol-style-circle [radius]="5">
                                    <aol-style-stroke [color]="'#fff'"></aol-style-stroke>
                                    <aol-style-fill [color]="'#33cc77ff'"></aol-style-fill>
                                    </aol-style-circle>
                                </aol-style>
                            </aol-layer-vector>
						</div>
					</div>
					<div *ngFor="let section of newRoute.sections">
						<aol-layer-vector  [opacity]="section.over?1.0:0.5">
							<aol-source-vector *ngIf="section.show" >
								<aol-style>
									<aol-style-stroke [color]="section.over?'rgba(10, 10, 150)':'rgba(100, 0, 0)'" [width]="section.over?8:6"></aol-style-stroke>
							
								</aol-style>
								<aol-feature >
									<aol-geometry-linestring>
										<aol-collection-coordinates [coordinates]="section.coords" [srid]="'EPSG:4326'">
										</aol-collection-coordinates>
									</aol-geometry-linestring>
								</aol-feature>
							</aol-source-vector>
						</aol-layer-vector>
					</div>
				</aol-layer-group>
            </aol-map>
        </div>
    </div>

    <ng-template #modalImport role="document" let-modal class="center-modal">
        <app-modal-import (onClose)="this.modalRef.hide();"></app-modal-import>
    </ng-template>
    <ng-template #modalImportGeo role="document" let-modal class="center-modal">
        <app-modal-import-geojson (onClose)="this.modalRef.hide();"></app-modal-import-geojson>
    </ng-template>
    
    <app-panel-right [selected]="'Routes'">
        <div ngProjectAs="Routes" >
            <div *ngIf="mode == StatesEnum.ROUTE_VIEWER" >

                <div class="list-group list-group-flush border-bottom " >
            <div id="box" style="width:50px;height:50px; background-color:#000"></div>
                    <a role="button" class="list-group-item list-group-item-action py-3 lh-tight h-100" style="text-align: center;">
                        <span *ngIf="mode == StatesEnum.ROUTE_VIEWER" style="text-align: center; width:100%" class="btn btn-sm btn-outline-dark  " (click)="openModal(modalImport,null)">Importar json</span>
                        <span *ngIf="mode == StatesEnum.ROUTE_VIEWER" style="text-align: center; width:100%" class="btn btn-sm btn-outline-dark  " (click)="openModal(modalImportGeo,null)">Importar geojson</span>
                        <span *ngIf="mode == StatesEnum.ROUTE_VIEWER" style="text-align: center; width:100%" class="btn btn-sm btn-outline-dark  " (click)="mode = StatesEnum.ROUTE_CREATOR">Crear Ruta por trayectos</span>
                        <span *ngIf="mode == StatesEnum.ROUTE_VIEWER" style="text-align: center; width:100%" class="btn btn-sm btn-outline-dark  " (click)="mode = StatesEnum.ROUTE_CREATOR_AREA">Crear Rutas por areas</span>
                    </a>

                    <a role="button" [style]="{'background-color':selectedRoute?.id==route.id?'#bbbbff88':'white'}" class="list-group-item list-group-item-action py-3 lh-tight" *ngFor="let route of routes" (click)="selectRoute(route)">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">{{route.name}}</strong>
                            <small><button class="btn btn-sm btn-outline"> <i class="fas fa-map"></i> </button></small>
                            <small>Recorrido: {{route.distance}} metros</small>
                        </div>
                        <div class="col-10 mb-1 small">

                            <div class="border" *ngIf="route.image!=null">
                                <img [src]="route.image.base64" style="width:100%" />
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <div *ngIf="mode == StatesEnum.ROUTE_CREATOR" class="m-5">
                <h3>Creación de Route</h3>
                <label class="fw-light" for="route">name de Route</label>
                <input class="form-control" id="name" name="route" type="text" required [(ngModel)]="newRoute.name" />

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked="checked">
                    <label class="form-check-label" for="flexCheckDefault">
                        Valores por defecto
                    </label>
                </div>
				<div class="row p-5">
					<div class="col-12">		
						<div *ngFor="let section of newRoute.sections;index as i" class="row">
							<div class="form-check form-check-sm"  (mouseenter)="onMouseIn(section)" (mouseleave)="onMouseOut(section)" >
								<input class="form-check-input form-check-input-sm" type="checkbox" id="check-section-{{section.uuid}}" name="check-section-{{section.uuid}}" [(ngModel)]="section.show"/>
								<label class="form-check-label form-check-label-sm" for="check-section-{{section.uuid}}">Section {{i+1}}</label>
							</div>
						</div>						
					</div>

				</div>

                <label class="fw-light" for="name">Split Máximo <small>(metros)</small></label>
                <input class="form-control form-control-sm" id="name" name="name" type="number" value="10" required disabled [(ngModel)]="newRoute.max_split_mt" />

                <label class="fw-light" for="name">distance <small>(metros)</small></label>
                <input class="form-control form-control-sm" id="name" name="name" type="number" [(ngModel)]="distance" required disabled />
                <label class="fw-light" for="name">Miniatura</label>
                <div class="border">
                    <img [src]="thumbRoute" style="width:100%" />
                </div>
                <div class="text-end mt-5">
                    <span *ngIf="mode == StatesEnum.ROUTE_CREATOR" class="btn btn-sm btn-outline-dark rounded-full " (click)="saveRoute()">{{createProgress}}</span>
                    <span *ngIf="mode == StatesEnum.ROUTE_CREATOR" class="btn btn-sm btn-outline rounded-full " (click)="mode = StatesEnum.ROUTE_VIEWER">Cancelar</span>
                </div>

            </div>
            <!-- <li><a class="link-dark rounded" routerLink="routesedit" > crear Route</a></li> -->
        </div>



    </app-panel-right>
</div>