<div class="container-fluid bg-light">
    <div class="text-center pt-5">
        <h2>Dispositivos ({{ devices?.length}}) {{noDevices?noDevices.length>0?'('+noDevices.length + ' sin registrar)':'' :''}} ({{countSession}} sesiones iniciadas) </h2>
        <p>
            <!-- <span href="#" class="btn btn-sm btn-outline-dark rounded-full" (click)="openModal(modalNew)">Crear Personal</span> -->
        </p>
    </div>
    <div class="card ">
        <div class="card-body " style="overflow-y: scroll;">
            <!-- Start Form -->
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sn" [(ngModel)]="keyword" (input)="filtrar()" placeholder="Buscar" aria-label="" aria-describedby="basic-addon1">
            </div>
            <button class="btn btn-sm btn-outline-primary" (click)="registerAll()">Sync devices</button>
            <form id="bookingForm" action="#" method="" class="   needs-validation" novalidate autocomplete="off" style="height:840px;">
                <table class="table table-sm table-bordered table-striped ">
                    <thead>
                        <tr>
                            <td scope="col">id</td>
                            <td scope="col">Configuración</td>
                            <td scope="col">Estados</td>
                            <td scope="col">Personal</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let device of devices;index as i" class="fw-light">
                            <td>
                                {{device.id}}
                            </td>
                            <td>
                                <table class="littleTable" *ngIf="device.config">
                                    <tr *ngFor="let key of keys(device.config)">
                                        <th>{{key}}</th>
                                        <td>{{device.config[key] }}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="littleTable" *ngIf="device.states">
                                    <tr *ngFor="let key of keys(device.states)">
                                        <th>{{key}}</th>
                                        <td>{{device.states[key] }}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="littleTable" *ngIf="device.personal">
                                    <tr *ngFor="let key of keys(device.personal)">
                                        <th>{{key}}</th>
                                        <td>{{ device.personal[key] }}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>