<!-- <div style="height: 800px; width:100%" >
	<aol-map #map width="100%" height="100%">
	  <aol-interaction-default></aol-interaction-default>
	  <aol-control-defaults></aol-control-defaults>
  
	  <aol-view [zoom]="12">
		<aol-coordinate [x]="-2.269282" [y]="46.987247" [srid]="'EPSG:4326'"></aol-coordinate>
	  </aol-view>
  
	  <aol-layer-tile [opacity]="1"> <aol-source-osm></aol-source-osm> </aol-layer-tile>
  
	  <aol-layer-vector *ngIf="marker">
		<aol-source-vector #markers>
		  <aol-feature>
			<aol-geometry-point>
			  <aol-coordinate [x]="marker.lon" [y]="marker.lat" [srid]="'EPSG:4326'"></aol-coordinate>
			</aol-geometry-point>
			<aol-style>
			  <aol-style-icon
				[src]="'http://172.20.50.67:4200/assets/marker.svg'"
				[anchor]="[0.5, 1]"
				[anchorXUnits]="'fraction'"
				[anchorYUnits]="'fraction'"
				[scale]="2"
				[anchorOrigin]="'top-left'"
			  >
			  </aol-style-icon>
			</aol-style>
		  </aol-feature>
		</aol-source-vector>
	  </aol-layer-vector>
	</aol-map>
  </div>-->

  <app-olmap [lat]="-16.489689" [lon]="-68.119293" [zoom]="16"></app-olmap>