
<div  id="overlayMenuDeviceRight" style="z-index:9999">
    <span class="tooltipx btn btn-small btn-danger p-0 m-0 align-middle" (click)="close()">X</span>
     <div class="container-fluid">

        <div class="row">
            <div class="col-12 ps-3 pe-3 ">
                <div *ngFor="let selectedTrack of selectedTracks">
                    <input type="range" [(ngModel)]="selectedTrack.player.currentTime" class="form-range" [min]="selectedTrack.player.min" [max]="player.length" [step]="selectedTrack.player.step">
                </div>               

                <input type="range" (input)="updatePlayer()" [(ngModel)]="player.currentRealTime" class="form-range" [min]="player.startRealTime" [max]="player.endRealTime" [step]="player.step">
            </div>
        </div>
        
        <div class="row">
            <div role="button" class="col-1 btnBlock"></div>
            <div role="button" class="col-2 btnBlock"><span (click)="rewindPlayer()" class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa fa-fast-backward"></i> </span></div>
            <div role="button" class="col-2 btnBlock"><span (click)="rewindPlayerOne()" class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa fa-backward"></i> </span></div>
            <div *ngIf="player.isPlaying" role="button" class="col-2 btnBlock"><span (click)="stopPlayer()" class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-pause"></i> </span></div>
            <div *ngIf="!player.isPlaying" role="button" class="col-2 btnBlock"><span (click)="startPlayer()" class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-play"></i> </span></div>
            <div role="button" class="col-2 btnBlock"><span (click)="forwardPlayerOne()" class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa fa-forward"></i> </span></div>
            <div role="button" class="col-2 btnBlock"><span (click)="forwardPlayer()" class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa fa-fast-forward"></i> </span></div>
        </div>
        
        <div class="row d-flex justify-content-center">
            <div class="col-12 row ">
                <div role="button" class="col-2 btnBlockSmall p-0 text-center"><span class="btn btn-sm w-100" (click)="player.speed=1" [ngClass]="{'btn-primary':player.speed==1,'btn-outliner-secondary':player.speed!=1}" >1x </span></div>
                <div role="button" class="col-2 btnBlockSmall p-0 text-center"><span class="btn btn-sm w-100" (click)="player.speed=2" [ngClass]="{'btn-primary':player.speed==2,'btn-outliner-secondary':player.speed!=2}" >2x </span></div>
                <div role="button" class="col-2 btnBlockSmall p-0 text-center"><span class="btn btn-sm w-100" (click)="player.speed=5" [ngClass]="{'btn-primary':player.speed==5,'btn-outliner-secondary':player.speed!=5}" >5x </span></div>
                <div role="button" class="col-2 btnBlockSmall p-0 text-center"><span class="btn btn-sm w-100" (click)="player.speed=30" [ngClass]="{'btn-primary':player.speed==30,'btn-outliner-secondary':player.speed!=30}" >30s </span></div>
                <div role="button" class="col-2 btnBlockSmall p-0 text-center"><span class="btn btn-sm w-100" (click)="player.speed=60" [ngClass]="{'btn-primary':player.speed==60,'btn-outliner-secondary':player.speed!=60}" >1m </span></div>
                <div role="button" class="col-2 btnBlockSmall p-0 text-center"><span class="btn btn-sm w-100" (click)="player.speed=300" [ngClass]="{'btn-primary':player.speed==300,'btn-outliner-secondary':player.speed!=300}" >5m </span></div>
            </div>            
        </div>
     </div>
</div>