<div class="divMain">
	<app-panel-float-nav></app-panel-float-nav>
	
    <ng-template #modalReport role="document" let-modal class="center-modal">
        <app-modal-report (onClose)="this.modalRef.hide();"  [device]="selectedDevice"></app-modal-report>
    </ng-template>
	<div class="divMid">   
		<div  id="overlayMenuLeft" style="z-index:9999">
            Transparencia:{{this.opacityMap}}<input type="range" value="1" min="0" max="1" step="0.1" [(ngModel)]="this.opacityMap" (input)="updateOpacity()">
            <div (click)="layerMap='osm'" role="button"  class="mt-3 btnBlock"><span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-map"></i> </span>OpenStreeth Map</div>
            <div (click)="layerMap='local_osm'" role="button"  class="mt-3 btnBlock"><span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-map"></i> </span>Local Osm</div>
            <div (click)="layerMap='local_bw'" role="button"  class="mt-3 btnBlock"><span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-map"></i> </span>Local Black/white</div>			
		</div>
		<div  id="overlayMenu" style="z-index:9999" class="d-none">
			<!-- <button>Track</button>
			<button type="button" class="btn btn-sm btn-secondary">Tracking</button> -->
			<div class="card">
				Devices:{{this.maxdevices}}<input type="range" value="20" min="1" max="120" [(ngModel)]="this.maxdevices" >
				RatioTime:{{this.ratio}}<input type="range" value="1" min="1" max="30" [(ngModel)]="this.ratio" (input)="updateTimesx()" >
				Speed:{{this.speed}}<input type="range" value="1" min="1" max="120" [(ngModel)]="this.speed" (input)="updateTimesx()">
				TrackLatency:{{this.tracklatency}}<input type="range" value="5001" min="500" max="15000" [(ngModel)]="this.tracklatency" (input)="updateTimesx()">
				<button class="btn btn-small " (click)="botStart()"> Start</button>
				<button class="btn btn-small " (click)="botReset()"> Reset</button>
			</div>
		</div>
		<div  id="overlayMenuDevice" style="z-index:9999">
			<div *ngIf="selectedDevice">
				<div> {{selectedDevice.personal.name}}</div>
				<div (click)="exportGeojson(selectedDevice)" role="button"  class="mt-3 btnBlock">Exportar geojson<span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-map"></i> </span></div>
				<div (click)="showReport(selectedDevice,modalReport)" role="button"  class="mt-3 btnBlock">Reporte<span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-map"></i> </span></div>
			</div>
		</div>
		
		<div style="height: 100%">
			<aol-map #map width="100%" height="100%">
				<aol-interaction-default></aol-interaction-default>
				<aol-interaction-select [layers]="isMarkerLayer" (olSelect)="select($event)"  [wrapX]="false"></aol-interaction-select>
				<aol-control-defaults></aol-control-defaults>

				<aol-view [zoom]="zoom">
					<!-- <aol-coordinate [x]="1" [y]="46.292896" [srid]="'EPSG:4326'" (click)="selected($event)"></aol-coordinate> -->
					<aol-coordinate [y]="-16.5319308" [x]="-68.0698635" [srid]="'EPSG:4326'"></aol-coordinate>
				</aol-view>

				<!-- <aol-layer-tile [opacity]="1"> -->
				 	 <!-- <aol-source-osm></aol-source-osm>    -->
					<!-- <aol-source-xyz url="http://172.20.50.59:6060/{z}/{x}/{y}.png">	</aol-source-xyz>  -->
                    <!-- <aol-source-xyz url="http://172.20.50.123:8080/{z}/{x}/{y}.png"></aol-source-xyz> -->
                    <!-- <aol-source-xyz url="https://trackingserver.kernotec.com/kmap2/{z}/{x}/{y}.png"></aol-source-xyz> -->
				<!-- </aol-layer-tile> -->
                
                <aol-layer-tile [opacity]="opacityMap">
                    <aol-source-osm *ngIf="layerMap=='osm'" ></aol-source-osm> 
                    <aol-source-xyz *ngIf="layerMap=='local_bw'" url="https://trackingserver.kernotec.com/kmap2/{z}/{x}/{y}.png" >	</aol-source-xyz>
                    <aol-source-xyz *ngIf="layerMap=='local_osm'" url="https://trackingserver.kernotec.com/kmap1/{z}/{x}/{y}.png" >	</aol-source-xyz>
                </aol-layer-tile>

            
				<!-- <aol-graticule [strokeStyle]="graticuleStyle" [showLabels]="true"></aol-graticule> -->
                 <div >
				<aol-layer-group>					
				 	<aol-layer-vector #markersLayer *ngFor="let device of devices; index as i" [zIndex]="1000">
						<aol-source-vector *ngIf="device!=undefined && device.controls!=undefined">
							<aol-feature>
								<aol-geometry-point>
									<aol-coordinate [x]="device.last.lon" [y]="device.last.lat" [srid]="'EPSG:4326'"></aol-coordinate>
								</aol-geometry-point>
								<aol-style>
									<aol-style-text [offsetY]="20" [text]="device.personal?.name" [font]="'10px sans-serif'"></aol-style-text>
									<aol-style-icon [src]="device.marker.img"  [anchor]="[0.5, 1.0]" [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'" [scale]="device.controls.show?0.7:0.5" [opacity]="device.controls.show?0.98:0.7" [anchorOrigin]="'top-left'">
									</aol-style-icon>
								</aol-style>
							</aol-feature>
						</aol-source-vector>
					</aol-layer-vector>

                    <!-- TREBOL-29 uso de overlays para generar marcadores dinámicos -->
					<aol-layer-vector #markersLayer *ngFor="let device of devices; index as i" [zIndex]="1000">
						<aol-overlay>
							<aol-coordinate [x]="device.last.lon" [y]="device.last.lat" [srid]="'EPSG:4326'" >	</aol-coordinate>
							<aol-content>
								<div class="my-overlay-class">
                                    
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <g
                                            id="layer1"
                                            transform="translate(-108.98034,-91.800702)"><path
                                            style="fill:#000000"
                                            d="m 138.91518,169.55416 c -0.74562,-0.30666 -0.97464,-0.50247 -2.60719,-2.22917 -10.68955,-11.30604 -18.66243,-22.53007 -21.62467,-30.44266 -1.13695,-3.03696 -1.54905,-5.12887 -1.56555,-7.94695 -0.0412,-7.03043 2.80421,-13.90177 7.83583,-18.92286 1.70497,-1.7014 3.63399,-3.1511 5.9353,-4.46052 2.42367,-1.37903 5.93702,-2.56955 9.05153,-3.06716 1.6776,-0.26803 5.00857,-0.37296 6.67055,-0.21013 6.08365,0.59603 11.58709,2.99851 15.86694,6.92657 5.26401,4.83134 8.21982,11.16826 8.67049,18.58859 0.17451,2.87335 -0.16065,5.08392 -1.25513,8.27834 -2.74069,7.9991 -10.35855,18.91921 -21.51074,30.83537 -0.88835,0.94921 -1.81682,1.89455 -2.06327,2.10076 -0.94843,0.79355 -2.28614,1.00962 -3.40409,0.54982 z"
                                            id="path1" /><circle
                                            style="fill:#ffffff;stroke-width:0.367001;stroke-linecap:round;stroke-linejoin:bevel"
                                            id="path2"
                                            cx="140.15469"
                                            cy="129.04637"
                                            r="17.470289" /><rect
                                            style="fill:#000000;fill-opacity:1;stroke-width:0.367001;stroke-linecap:round;stroke-linejoin:bevel"
                                            id="rect3"
                                            width="16.874453"
                                            height="8.5924988"
                                            x="108.98035"
                                            y="91.800705"
                                            ry="1.5163229" /><rect
                                            style="fill:#098229;fill-opacity:1;stroke-width:0.367001;stroke-linecap:round;stroke-linejoin:bevel"
                                            id="rect4"
                                            width="3.2853625"
                                            height="6.381187"
                                            x="110.81792"
                                            y="92.906357"
                                            ry="0" /><rect
                                            style="fill:#ffffff;fill-opacity:1;stroke-width:0.367001;stroke-linecap:round;stroke-linejoin:bevel"
                                            id="rect4-1"
                                            width="3.2853625"
                                            height="6.381187"
                                            x="115.74129"
                                            y="92.906357"
                                            ry="0" /><rect 
                                            style="fill:#ffffff;fill-opacity:1;stroke-width:0.367001;stroke-linecap:round;stroke-linejoin:bevel"
                                            id="rect4-1-9"
                                            width="3.2853625"
                                            height="6.381187"
                                            x="120.66465"
                                            y="92.906357"
                                            ry="0" />
                                     <image href="favicon.ico" height="20" width="20" x="120" y="120" />
                                     </g>
       
                                    </svg>
								</div>
							</aol-content>
						</aol-overlay>				
					</aol-layer-vector>
                
					<!-- STOP CIRCLES -->
					<div *ngIf="devices">
						<div *ngFor="let device of devices" >
							<aol-layer-vector *ngFor="let stop of device.stops" [zIndex]="1100">
								
									<aol-source-vector *ngIf="device.stops && device.controls.showStops">									
											<aol-feature >
													<aol-geometry-point >
														<aol-coordinate [x]="stop.start_lon" [y]="stop.start_lat" [srid]="'EPSG:4326'"></aol-coordinate>
													</aol-geometry-point>
											</aol-feature>							
											<aol-feature >
													<aol-geometry-point >
														<aol-coordinate [x]="stop.end_lon" [y]="stop.end_lat" [srid]="'EPSG:4326'" ></aol-coordinate>
													</aol-geometry-point>
											</aol-feature>						
									</aol-source-vector>
									<aol-style>
										<aol-style-circle [radius]="22">
											<aol-style-stroke [color]="'#fff'"></aol-style-stroke>
											<aol-style-fill [color]="'#ff4477'"></aol-style-fill>
										</aol-style-circle>										
										<aol-style-text [text]="toSeconds(stop.duration)" [font]="'16px sans-serif'">
											<aol-style-fill [color]="'#fff'"></aol-style-fill>
										</aol-style-text>
									</aol-style>			
							</aol-layer-vector>
						</div>
					</div>

					<!-- CHECKED GREEN CIRCLES -->
					<div *ngIf="devices">
                        <aol-layer-vector  [zIndex]="750" >             
                            <aol-source-vector> 
                                    <div *ngFor="let device of devices">
                                        <div *ngIf="device.controls.showChecks && device.routeSelected!=null">
                                            <div *ngFor="let section of device.routeSelected.sections">         
                                                        
                                                 <aol-feature >                    
                                                            <aol-geometry-multipoint>
                                                                <aol-collection-coordinates
                                                                [coordinates]="section.splitCoordsChecked"
                                                                [srid]="'EPSG:4326'"
                                                                >
                                                                </aol-collection-coordinates>
                                                                <!-- <aol-geometry-point  >
                                                                    <aol-coordinate [x]="pc[0]" [y]="pc[1]" [srid]="'EPSG:4326'"></aol-coordinate>
                                                                </aol-geometry-point>-->
                                                            </aol-geometry-multipoint>              
                                                        </aol-feature>                                                                 
                                                        
                                            </div>
                                        </div>
                                    </div>
                            </aol-source-vector>
                            <aol-style>
                                <aol-style-circle [radius]="7">
                                    <aol-style-stroke [color]="'#fff'"></aol-style-stroke>
                                    <aol-style-fill [color]="'#33cc77ff'"></aol-style-fill>
                                </aol-style-circle>
                            </aol-style>
                        </aol-layer-vector>
					</div>
				
			<!--
					<div *ngIf="devices">
						<div *ngFor="let device of devices" >
							<aol-layer-vector *ngIf="device.routeSelected && device.controls.show">
								<aol-source-vector>
									<aol-feature *ngFor="let p of device.routeSelected?.string.geometry?.coordinates">
									<aol-geometry-point>
										<aol-coordinate [x]="p[0]" [y]="p[1]" [srid]="'EPSG:4326'"></aol-coordinate>
									</aol-geometry-point>
									</aol-feature>
								</aol-source-vector>
							
								<aol-style>
									<aol-style-circle [radius]="10">
									<aol-style-stroke [color]="'#fff'"></aol-style-stroke>
									<aol-style-fill [color]="'#3399CC'"></aol-style-fill>
									</aol-style-circle>
									<aol-style-text [text]="''">
									<aol-style-fill [color]="'#fff'"></aol-style-fill>
									</aol-style-text>
								</aol-style>
							
							</aol-layer-vector>
						</div>
					</div>
				-->			
                        <aol-layer-vector [zIndex]="750"> <!--  && device.controls.show -->
                            <aol-source-vector>
                                <div *ngIf="devices">
                                    <div *ngFor="let device of devices" >
                                        <div  *ngIf="device.routeSelected && device.controls.show && false ">
                                            <div *ngFor="let section of device.splitPointsCoordsCheck">
                                                <aol-feature *ngFor="let p of section">
                                                <aol-geometry-point>
                                                    <aol-coordinate [x]="p[0]" [y]="p[1]" [srid]="'EPSG:4326'"></aol-coordinate>
                                                </aol-geometry-point>
                                                </aol-feature>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aol-source-vector>
                        
                            <aol-style>
                                <aol-style-circle [radius]="7">
                                    <aol-style-stroke [color]="'#fff'"></aol-style-stroke>
                                    <aol-style-fill [color]="'#229942'"></aol-style-fill>
                                </aol-style-circle>
                                <aol-style-text [text]="''">
                                    <aol-style-fill [color]="'#fff'"></aol-style-fill>
                                </aol-style-text>
                            </aol-style>
                        
                        </aol-layer-vector>
						<aol-layer-vector  >					
					
								<aol-source-vector>
									<aol-style>
										<aol-style-stroke [color]="'rgba(30, 30, 250,0.5)'" [width]="6" [lineDash]="[8.5, 8]" ></aol-style-stroke>
									</aol-style>
                                    <div *ngIf="devices" #forsplitpoints>
                                        <div *ngFor="let device of devices">
                                            <div *ngIf="device.routeSelected && device.controls.show">		
                                                <div *ngFor="let section of device.routeSelected?.sections">
                                                <aol-feature >
                                                    <aol-geometry-linestring >
                                                        <aol-collection-coordinates [coordinates]="section.coords" [srid]="'EPSG:4326'">
                                                        </aol-collection-coordinates>
                                                    </aol-geometry-linestring>
                                                </aol-feature>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
								</aol-source-vector>
							
						</aol-layer-vector>
					<!--        SO HEAVY  ON BIG ROUTE
						<aol-layer-vector >
								<aol-source-vector>
                                    <div *ngIf="devices">
                                        <div  *ngFor="let device of devices">
                                            <div *ngIf="device.routeSelected && device.controls.show && device.controls.showChecks">
                                                <aol-feature *ngFor="let p of device.splitPointsCoordsCheck">
                                                    <aol-geometry-point>
                                                        <aol-coordinate [x]="p[0]" [y]="p[1]" [srid]="'EPSG:4326'"></aol-coordinate>
                                                    </aol-geometry-point>
                                                </aol-feature>
                                            </div>
                                        </div>
                                    </div>
								</aol-source-vector>
							
								<aol-style>
									<aol-style-circle [radius]="10">
									<aol-style-stroke [color]="'#fff'"></aol-style-stroke>
									<aol-style-fill [color]="'#33cc77ff'"></aol-style-fill>
									</aol-style-circle>
								</aol-style>
						</aol-layer-vector>
                        -->
					<!-- ROUTES -->		
					<div *ngFor="let route of routes" >
						<div  *ngIf="route.controls.show" >
							<!-- <div *ngFor="let section of route?.sections" > --> <!-- *ngIf="route.controls.show" -->
								<aol-layer-vector  [opacity]="route.controls.selected?0.9:0.8">
									<aol-source-vector>
										<aol-style>
											<aol-style-stroke [color]="route.controls.selected?'rgba(30, 30, 170,255)':route.color" [width]="8"></aol-style-stroke>
										</aol-style>
										<aol-feature *ngFor="let section of route?.sections">
											<aol-geometry-linestring >
												<aol-collection-coordinates [coordinates]="section.coords" [srid]="'EPSG:4326'">
												</aol-collection-coordinates>
											</aol-geometry-linestring>
										</aol-feature>
									</aol-source-vector>
								</aol-layer-vector>
                                <aol-layer-vector  [zIndex]="750" *ngIf="route.controls.showArea">    
                                    <!--<aol-source-cluster [distance]="50">                     -->
                                        <aol-source-vector>
                                            <div *ngFor="let section of route?.sections">
                                                <!-- <aol-feature *ngFor="let pc of splitPerZoom(section.splitCoordsCells)"> -->
                                                 <aol-feature *ngFor="let pc of section.splitCoordsCells">
                                                <aol-geometry-point >
                                                    <aol-coordinate [x]="pc[0]" [y]="pc[1]" [srid]="'EPSG:4326'"></aol-coordinate>
                                                </aol-geometry-point>
                                                </aol-feature>
                                            </div>
                                        </aol-source-vector>
                                    <!--</aol-source-cluster>-->
                                    <aol-style>
                                        <aol-style-circle [radius]="10">
                                            <aol-style-stroke [color]="'#fff'"></aol-style-stroke>
                                            <aol-style-fill [color]="'#33cc77ff'"></aol-style-fill>
                                        </aol-style-circle>
                                    </aol-style>
                                    
                                </aol-layer-vector >
                                
                                    <aol-layer-vector  #vectorSource [opacity]="0.5" *ngIf="route.controls.showArea">
                                        <aol-style>
                                            <aol-style-stroke [color]="'#222222'" [width]="8"></aol-style-stroke>
                                            <aol-style-fill [color]="'#2233aa88'" ></aol-style-fill>
                                        </aol-style>
                                        <aol-source-vector >
                                            <aol-feature *ngFor="let section of route?.sections">
                                                <aol-geometry-polygon>
                                                    <aol-collection-coordinates [coordinates]="[section.coords]" [srid]="'EPSG:4326'">
                                                    </aol-collection-coordinates>
                                                </aol-geometry-polygon>
                                            </aol-feature>
                                        </aol-source-vector>
                                    </aol-layer-vector>
								<!-- 
								<aol-layer-vector [visible]="route.controls.showSplit" *ngFor="let section of route.sections" [opacity]="route.controls.selected?0.9:0.4">
									<aol-source-vector >
										<aol-feature *ngFor="let pc of section.splitCoords">
											<aol-geometry-point >
												<aol-coordinate [x]="pc[0]" [y]="pc[1]" [srid]="'EPSG:4326'"></aol-coordinate>
											</aol-geometry-point>
										</aol-feature>
									</aol-source-vector>
								
									<aol-style>
										<aol-style-circle [radius]="5">
										<aol-style-stroke [color]="'#fff'"></aol-style-stroke>
										<aol-style-fill [color]="'#33cc77ff'"></aol-style-fill>
										</aol-style-circle>
										<aol-style-text [text]="''">
										<aol-style-fill [color]="'#fff'"></aol-style-fill>
										</aol-style-text>
									</aol-style>
								</aol-layer-vector>
-->

							<!-- </div> -->
						</div>
					</div>
					<!-- END ROUTES -->
<!-- SELECTED ROUTE -->
 <!-- 
						<div *ngFor="let route of selectedRoutes" >

							<aol-layer-vector  *ngFor="let section of route.sections" [opacity]="0.9">
								<aol-source-vector >
									<aol-feature *ngFor="let pc of section.splitCoords">
										<aol-geometry-point >
											<aol-coordinate [x]="pc[0]" [y]="pc[1]" [srid]="'EPSG:4326'"></aol-coordinate>
										</aol-geometry-point>
									</aol-feature>
								</aol-source-vector>

								<aol-style>
									<aol-style-circle [radius]="7">
									<aol-style-stroke [color]="'#fff'"></aol-style-stroke>
									<aol-style-fill [color]="'#33cc77ff'"></aol-style-fill>
									</aol-style-circle>
									<aol-style-text [text]="''">
									<aol-style-fill [color]="'#fff'"></aol-style-fill>
									</aol-style-text>
								</aol-style>
							</aol-layer-vector>
						</div>
-->
<!-- END SELECTED ROUTE -->


					<div *ngIf="devices">
						<aol-layer-vector  >
							<aol-source-vector >
								<aol-style>
									<aol-style-stroke [color]="'rgba(10, 10, 10)'" [width]=1 [lineDash]="[3, 5]"></aol-style-stroke>
									<!-- <aol-style-fill [color]="'rgba(90, 17, 26, 0.5)'"></aol-style-fill> -->
							<!-- 		<aol-style-text [text]="'RUTA 12D-S'" [font]="'20px sans-serif'"></aol-style-text> -->
								</aol-style>
                                <div *ngFor="let device of devices" >
                                    <aol-feature #selectedFeatureString *ngIf="device.tracksCoord && device.controls.showTrack">
                                        <aol-geometry-linestring>
                                            <aol-collection-coordinates [coordinates]="device.tracksCoord" [srid]="'EPSG:4326'">
                                            </aol-collection-coordinates>
                                        </aol-geometry-linestring>
                                    </aol-feature>
                                </div>
							</aol-source-vector>
						</aol-layer-vector>
					</div>
				</aol-layer-group>
            </div>
				<!-- many green points 
				<div *ngIf="devices">
					<aol-layer-vector *ngFor="let device of devices" >
						<div *ngIf="device.controls!=undefined">
							<aol-source-vector *ngIf="device.controls.show && device.controls.showTrack">
								<aol-feature *ngFor="let p of device.tracksCoord ">
								<aol-geometry-point>
									<aol-coordinate [x]="p[0]" [y]="p[1]" [srid]="'EPSG:4326'"></aol-coordinate>
								</aol-geometry-point>
								</aol-feature>
							</aol-source-vector>
						
							<aol-style>
								<aol-style-circle [radius]="5">
								<aol-style-stroke [color]="'#fff'"></aol-style-stroke>
								<aol-style-fill [color]="'#33CC99'"></aol-style-fill>
								</aol-style-circle>
								<aol-style-text [text]="''">
								<aol-style-fill [color]="'#fff'"></aol-style-fill>
								</aol-style-text>
							</aol-style>
						</div>
					</aol-layer-vector>

				</div>
			-->
			</aol-map>
		</div>
	</div>
	<app-panel-right [selected]="'Dispositivos'" [tabs]="tabs">

		<div ngProjectAs="Devices">
<div>
    <label>PersonalType</label>
        <select class="form-select" [(ngModel)]="filterPersonalTypes" multiple style="height:300px" >
            <option *ngFor="let type of personalType" [value]="type.id">{{type.name}}</option>
        </select>
        Bateria:{{this.filterBattery}}<input type="range" value="1" min="0" max="100" step="1" [(ngModel)]="filterBattery" >
        Con Emergencia <input class="form-check-input form-check-sm" type="checkbox" [(ngModel)]="filterEmergency">
		<button class="btn btn-sm btn-outline-primary" (click)="filterDevices()">filtrar</button>
		<div (click)="showReport(selectedDevice,modalReport)" role="button"  class="mt-3 btnBlock">Reporte<span class="btn btn-sm btn-outline-secondary rounded-pill "><i class="fas fa-solid fa-map"></i> </span></div>
</div>

			<div class="list-group list-group-flush border-bottom scrollarea" *ngFor="let device of devices">

				<a href="#" class="list-group-item list-group-item-action  py-3 lh-tight" aria-current="true" (click)="gotoDevice(device)">
					<div class="d-flex w-100 align-items-center justify-content-between" *ngIf="device.controls!=null">					
						<strong class="mb-1">{{device?.personal?.name}}</strong>
						<small>bat:{{ device.last.bat}}%</small>
					</div>
				</a>
				<div>
					<div class="form-check form-check-sm" *ngIf="device.controls!=null">
						<input class="form-check-input form-check-sm" type="checkbox" value="" id="dev-track-show-{{device.id}}" [(ngModel)]="device?.controls.show">
						<label class="form-check-label small" for="dev-track-show-track-{{device.id}}"> Ver Ruta </label>
					</div>					
					<div class="form-check form-check-sm" *ngIf="device.controls!=null">
						<input class="form-check-input form-check-sm" type="checkbox" value="" id="dev-track-show-track-{{device.id}}" [(ngModel)]="device?.controls.showTrack">
						<label class="form-check-label small" for="dev-track-show-track-{{device.id}}"> Ver Trayecto </label>
					</div>					
					<div class="form-check form-check-sm" *ngIf="device.controls!=null">
						<input class="form-check-input form-check-sm" type="checkbox" value="" id="dev-track-show-checks-{{device.id}}" [(ngModel)]="device?.controls.showChecks">
						<label class="form-check-label small" for="dev-track-show-checks-{{device.id}}"> Ver Checkpoints </label>
					</div>					
					<div class="form-check form-check-sm" *ngIf="device.controls!=null">
						<input class="form-check-input form-check-sm" type="checkbox" value="" id="dev-track-show-stops-{{device.id}}" [(ngModel)]="device?.controls.showStops">
						<label class="form-check-label small" for="dev-track-show-stops-{{device.id}}"> Ver Paradas </label>
					</div>		
				</div>
					<div class="col-10 mb-1 small" *ngIf="device && device?.last ">					
					 Dispositivo:{{ device.config.INFO_MODEL}} <br>
					 Ruta: {{device?.routeSelected?.name}}<br> 
					 Completado: {{device?.routeSelected?.completed}} %<br>
					 Hora: {{device?.last.t | date:'dd/MM/yyyy HH:mm:ss' }}<br>
					 Latencia: {{device.ms}}ms</div>
                     --Emergency: {{ device.states['IS_EMERGENCY'] }}<br>

			</div>
		</div>

		<div ngProjectAs="Routes">
			<label for="inp-check-route-{{route.id}}-selected" role="button" class="container row border-bottom hover" [style]="{'background':route.controls.selected?'#1111cc22':'#fff'}" *ngFor="let route of routes" (click)="selectRoute(route)" >
				<div class="col-4 row"> 
					<div class="col-2">
						<input id="inp-check-route-{{route.id}}-show" type="checkbox" [(ngModel)]="route.controls.show" />
						<input id="inp-check-route-{{route.id}}-selected" type="checkbox" [(ngModel)]="route.controls.selected" /> 
						<input id="inp-check-route-{{route.id}}-split" type="checkbox" [(ngModel)]="route.controls.showSplit" />  
                        <input id="inp-check-route-{{route.id}}-split" type="checkbox" [(ngModel)]="route.controls.showArea" />  
                        <button class="btn btn-sm " (click)="smoothSections(route)">smooth sections</button>
					</div>
				</div>
				<div class="col-8"> 
					<strong class="mb-1">{{route.name}}</strong><br>
					<small>Recorrido: {{route.distance}} metros</small>
				</div>
			</label>
			<!-- 
			<div class="list-group list-group-flush border-bottom scrollarea">									
				<a role="button" class="list-group-item list-group-item-action py-3 lh-tight" *ngFor="let route of routes" (click)="selectRoute(route)">
					<div class="d-flex w-100 align-items-center justify-content-between">  
						<strong class="mb-1">{{route.nombre}}</strong>
						<small>Recorrido: {{route.distancia}} metros</small>
					</div>
					<div class="col-10 mb-1 small">
						
					</div>
				</a>
			</div>-->
		</div>
		
		<div ngProjectAs="Sugerencias">
			<div >
				<div *ngFor="let suggestion of suggestions" class="container row border-bottom hover">
					<div class="col-2"><span class="small">{{suggestion.date_time | date:'HH:mm'}}</span></div>
					<div class="col-8 row">
						<span class="small col-12 text-bold">{{suggestion.title}}</span>
						<span class="small col-12">{{suggestion.description}}</span>
					</div>
					<div class="col-2"> 
						<div class="btn-group" style="width:100%">
							<span role="button" (click)="loadImages(suggestion)" class="btn  p-1 btn-sm btn-outline-dark font-weight-light rounded-full"><i class="fas fa-image d-block fa-xs"></i></span>
							<span role="button" class="btn  btn-sm btn-outline-dark font-weight-light"><i class="fas fa-trash d-block fa-xs"></i> </span>
						</div> 
					</div> 
					<div class="col-12" *ngIf="suggestion.viewImage" >
						<div *ngFor="let image of suggestion.images">

							 <img  src="{{'data:image/jpg;base64,' + image.image?.base64}}"  style="width:100%"> 
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</app-panel-right> 
</div>
